:root {
    --base-font-size: 18px;
    --theme-color: #2B817C;
    --heading-font-family: 'SG';
    --sidebar-name-font-family: 'SG';
}

@font-face {
  font-family: 'SG';
  src:  url('fonts/SpaceGrotesk-Regular.woff2') format('woff2'),
        url('fonts/SpaceGrotesk-Regular.ttf') format('ttf');
}

h1, h2, h3, h4, h5, h6 {
    letter-spacing: -0.02em;
}
